<div class="directory row">
    <div class="col-md-12">
        <h2>Persons List</h2>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-6" >
                  <input type="text" [(ngModel)]="searchName" 
                         class="form-control" placeholder="Search By Name" />
                </div>
                <div class="col-md-6" >
                    <input type="text" [(ngModel)]="searchMobile" 
                           class="form-control" placeholder="Search By Mobile" />
                  </div>
              </div>
              
            <table class="table" *ngIf="persons.length > 0">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col" (click)="sort('name')" class="sort">Name
                        <span [ngClass]="direction == 1? 'glyphicon-arrow-down':'glyphicon-arrow-up'" class="glyphicon" aria-hidden="true"></span>
                    </th>
                    <th scope="col">Mobile</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let person of persons | filter: searchName : searchMobile | orderBy: {property: column, direction: direction}">
                    <th scope="row">{{person.id}}</th>
                    <td class="sort" (click)="onSelectPerson(person)"> {{person.name}}</td>
                    <td> {{person.mobile}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-md-6">
          <app-person [person]="selectedPerson"></app-person>
        </div>
    </div>
</div>
